.transparent-nav-bar{
    background-color: transparent;
    height: 60px;
}

.transparent-nav-bar .navbar-brand,
.transparent-nav-bar .nav-link {
  color: black;
}

.transparent-nav-bar .navbar-brand {
  font-family: 'Playfair Display';
  font-size: 1.5rem;
}

.transparent-nav-bar .nav-link {
  font-weight: 400;
}



