.card {
    width: 25rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Force the card image container to have a consistent height */
.card-img-top {
    width: 100%;
    height: auto; /* Let the image determine its height */
}

.card-text {
    color: black;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-out;
    box-shadow: none;
}

.card a {
    display: flex;
    justify-content: center;
    align-items: center;
}